.flex{
    display: flex;
    flex-wrap: wrap;
}
.userBlock{
    width: 40%;
    padding: 10px;
    margin: 10px auto;
    border-bottom: 1px solid #CED8E1;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}
.userBlock:hover{
    background-color: ghostwhite;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.a{
    border: 1px solid;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #989595;
    transition: .2s linear;
}
.a:hover{
    background-color: #CED8E1;
    color: #0F2A3D;
}
.detailsBlock{
    width: 95%;
    font-size: 20px;
}
.show_posts{
    width: 99%;
    font-size: 30px;
    padding: 10px;
}
.show_posts:hover{
    cursor: pointer;
}
.postsBlock{
    width: 100%;
}
.postBlock{
    width: 17%;
}
.position{
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post{
    background-color: white;
    border: 1px solid #CED8E1;
}
.pagination{
    width: 9%;
    min-height: 40px;
    font-size: medium;
    margin: 30px;
    padding: 5px;
}
.prev{
    border-end-end-radius: inherit;
}
.next{
    border-end-start-radius: inherit;
}
.pagination:hover{
    cursor: pointer;
}
.comment, p{
    width: 22%;
    text-align: start;
}
p{
    margin: 0 auto;
    width: 70%;
}
.postTitle{
    width: 18%;
    border: 2px solid blue;
    color: #0F2A3D;
}
.postTitle:hover{
    background-color: white;
}
p{
    font-size: 30px;
}
span{
    display: block;
}
